<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzp.androidxkotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/net_config"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.wifi.WifiActivity"/>
        <activity android:name=".ui.webview.WebViewActivity" />
        <activity android:name=".ui.video.VideoActivity" />
        <activity android:name=".ui.usb.UsbActivity" />
        <activity android:name=".ui.updateapk.UpdateActivity" />
        <activity android:name=".ui.serialport.SerialPortActivity" />
        <activity android:name=".ui.room.RoomActivity" />
        <activity android:name=".ui.picpick.PicPickActivity" />
        <activity android:name=".ui.permission.PermissionActivity" />
        <activity android:name=".ui.netTest.NetTestActivity" />
        <activity android:name=".ui.music.MusicActivity" />
        <activity android:name=".ui.list.ListActivity" />
        <activity android:name=".ui.downloadupload.DownloadUploadActivity" />
        <activity android:name=".ui.bluetooth.BlueToothActivity" />
        <activity android:name=".ui.banner.BannerActivity" />
        <activity android:name=".ui.androidversion.AndroidVersionActivity" />
        <activity android:name=".ui.map.MapActivity" />
        <activity android:name=".ui.userinfo.UserInfoActivity" />
        <activity android:name=".ui.coroutines.CoroutineActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".kotlin.CoroutinesActivity" />
        <activity android:name=".kotlin.ListActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>